{{> head }}

    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Batman</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nihil sapiente, praesentium voluptatibus voluptatum quia est laudantium sit ab eos, odit explicabo ipsam illo enim aliquid iste. Sunt, provident quo.</p>
        </div>
        
        <div class="col-4">
            <img src="assets/img/batman.jpg" alt="" class="img-thumbnail">

        </div>
        
    </div>

    {{> footer}}